<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.noonsokmal">


    <!-- 카메라 권한1 -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true"/>
    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 카메라 권한2 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoonSokMal"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString">

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity">

        </activity>

        <activity android:name=".LoginActivity">

        </activity>

        <activity android:name=".HearingActivity">

        </activity>

        <activity android:name=".NoHearingActivity">

        </activity>

        <activity android:name=".HearingResultActivity"
            android:theme="@style/BottomDialog">

        </activity>

        <activity android:name=".NoHearingResultActivity">

        </activity>

        <activity android:name=".Black_pink">

        </activity>

        <activity android:name=".Black_yellow">

        </activity>

    </application>

</manifest>